body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    background-color: #FEFCFE;
    color: #2B3541;
}

.wrapper {
    max-width: 1143px;
    margin: 0 378px;
    padding: 0 11px;
}

header {
    padding-top: 49px;
    padding-left: 52px;
    padding-right: 50px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    width: 1817px;
}

nav {
    margin-top: -27px;
}

.nav {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    display: flex;
}

.nav-icon {
    fill: rgba(43, 53, 65, .8);
}

.nav-icon:hover {
    fill: rgba(43, 53, 65, 1);
    transform: scale(1.3);
}

.nav-social .nav-item {
    padding-left: 30px;
}

.nav-social .nav-item:first-child {
    padding-left: 0;
}

header .wrapper {
    margin: 0 325px;
}

.nav .nav-info {
    line-height: 150%;
}

.nav-info .nav-item {
    padding-right: 55px;
    padding-bottom: 16px;
}

.nav-info .nav-link {
    text-decoration: none;
    color: #2B3541;
    transition: 0.3s;
}

.nav-info .nav-link:hover {
    color: #181F27;
    border-bottom: 1px solid #2B3541;
    padding-bottom: 16px;
}

.main {
    display: flex;
    position: relative;
    margin-top: 14px;
    margin-bottom: 161px;
}

.main-info {
    position: absolute;
    align-self: center;
    margin-top: -56px;

}

.title-h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 68px;
    margin-bottom: 2px;
}

.main-description {
    display: grid;
    grid-template: repeat(3, 95px)/91px 1fr;
}

.description-1 {
    grid-row: 1/2;
    grid-column: 1/2;
    font-size: 40px;
    line-height: 125%;
}

.description-2 {
    grid-row: 1/2;
    grid-column: 2/3;
    font-size: 40px;
    line-height: 125%;
}

.description-3 {
    grid-row: 2/3;
    grid-column: 2/3;
    font-size: 18px;
    line-height: 150%;
}

.description-4 {
    grid-row: 3/4;
    grid-column: 2/3;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 10px;
}

.description-4 .link {
    display: block;
    text-decoration: none;
    width: 252px;
    height: 24px;
    padding: 20px 0;
    margin: 0;
    background-color: #FBF138;
    color: #2B3541;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
    transition: 0.3s;
}

.description-4 .link:hover {
    color: #FBF138;
    background: #2B3541;
    box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.2);
}

.main-photo {
    width: 100%;
    height: 852px;
    margin-left: 333px;
}

.main-arrow {
    width: 52px;
    height: 55px;
    position: absolute;
    bottom: 0;
    left: 90px;
}

.events {
    margin-bottom: 161px;
}

.title-h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
}

.events-list {
    display: flex;
    justify-content: space-between;
    margin-top: 39px;
}

.events-item {
    position: relative;
    width: 367px;
    height: 600px;
    margin-right: 21px;
}

.events-item:last-child {
    margin-right: 0;
}

.background {
    position: absolute;
    z-index: 1;
}

.gradient {
    position: relative;
}

.gradient::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 80%);
    opacity: 0.3;
}

.events-info {
    position: absolute;
    z-index: 2;
    width: 367px;
    height: 600px;
}


time {
    font-weight: 700;
    line-height: 150%;
    opacity: 0.6;
    display: inline-block;
    margin-left: 30px;
    margin-top: 32px;
}

.title-h3 {
    font-weight: 700;
    font-size: 28px;
    line-height: 120%;
    margin-left: 30px;
    margin-top: 22px;
}

.events-name {
    width: 126px;
    height: 47px;
    background: #FBF138;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 0;

}

.events-part {
    position: absolute;
    z-index: 2;
    width: 340px;
    height: 413px;
    padding-top: 185px;
    padding-left: 30px;
    opacity: 0;
    transition: 0.7s;
}

.events-part:hover {
    opacity: 1;
}

.events-part>p {
    margin: 0;
}

.events-part .link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 221px;
    height: 64px;
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background: #2B3541;
    color: #FBF138;
    box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.28);
}

.schedule {
    margin-bottom: 159px;
}

.schedule-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 38px;
}

.schedule-info .title-h2 {
    margin: 0;
}

.schedule-info .date {
    margin: 0;
    font-weight: 700;
    font-size: 28px;
    line-height: 125%;
    padding-top: 12px;
}

.schedule-table {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(366px, 1fr));
    grid-auto-rows: minmax(280px, auto);
    gap: 20px;
}


.table-item {
    border: 1px solid #94989F;
    box-sizing: border-box;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow: auto;

}

.table-item:hover {
    background-color: rgba(243, 243, 243, .5);
    box-shadow: 0px 4px 30px rgba(43, 53, 65, 0.2);
}

.table-item:nth-child(1) {
    height: 250px;
}

.table-item:nth-child(2) {
    height: 402px;
}

.table-item:nth-child(3) {
    height: 309px;
}

.table-item:nth-child(4) {
    height: 433px;
    margin-top: -152px;
    background: linear-gradient(180deg, rgba(251, 241, 56, .7) 0%, rgba(253, 249, 182, 0.45) 100%);
    box-shadow: 0px 13px 30px rgba(186, 180, 69, 0.2);
    border: none;
}

.table-item:nth-child(4):hover {
    box-shadow: 0px 4px 30px rgba(43, 53, 65, 0.2);
}

.table-item:nth-child(4)>.table-date {
    font-weight: 700;
}

.table-item:nth-child(5) {
    height: 281px;
}

.table-item:nth-child(6) {
    height: 374px;
    margin-top: -93px;
}

.table-description {
    line-height: 150%;
    margin: 20px 0 0 0;
}

.table-description.hidden {
    display: none;
}

.table-date {
    margin: 0;
    text-align: end;
    line-height: 150%;
    color: #010101;
    opacity: 0.7;
}

.title-h4 {
    margin: 37px 0 0 0;
    font-weight: 700;
    line-height: 125%;
}

.grey {
    background-color: #F3F3F3;

}

.section-form {
    margin: 162px auto 0 auto;
    padding: 80px 255px 80px 271px;
    height: 185px;
}

.form-title {
    height: 100px;
    position: relative;
    display: flex;
    justify-content: space-around;
}

.circle {
    fill: #FBF138;
    position: absolute;
    z-index: 1;
}

.circle.form-circle {
    width: 105px;
    height: 105px;
    top: -31px;
    left: -54px;
}

.form-title .title-h2 {
    margin: 0 0 0 -13px;
    z-index: 2;
    position: absolute;
}

.form-items {
    display: flex;
    justify-content: center;
    margin-top: -11px;
}

.form-item {
    margin-right: 20px;
}

.form-item:last-child {
    margin-right: 0;
}

.form-item .form-email {
    width: 352px;
    ;
    height: 65px;
    line-height: 150%;
    border: none;
    background-color: #FFFFFF;
    padding-left: 19px;
}

.form-item .form-email:hover {
    background-color: #F3F3F3;
}

.form-item .form-email:focus,
.form-item .form-email:active,
.form-item .form-email:valid {
    outline: none;
    background-color: #FFFFFF;
}

.form-item .form-email.invalid {
    border: 1px solid #AE0303;
}

.button__yellow,
.button__yellow:visited,
.button__yellow:active {
    display: inline-block;
    width: 225px;
    height: 65px;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    vertical-align: middle;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background-color: #FBF138;
    color: #2B3541;
    border: none;
    font-weight: 700;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
    transition: 0.3s;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: visible;
}

.button__yellow,
.button__yellow:link,
.button__yellow:visited,
.button__yellow:hover,
.button__yellow:active {
    text-decoration: none
}

.button__yellow:focus,
.button__yellow:hover {
    outline: none;
    color: #FBF138;
    background: #2B3541;
    box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.2);
    font-weight: 700;
}

:-ms-input-placeholder {
    color: rgba(43, 53, 65, .5);
}

::-moz-placeholder {
    color: rgba(43, 53, 65, .5);
    opacity: 1;
}

:-moz-placeholder {
    color: rgba(43, 53, 65, .5);
    opacity: 1;
}

.checkbox {
    display: flex;
    justify-content: start;
    margin-top: 10px;
    position: relative;
}

.checkbox .data {
    color: rgba(43, 53, 65, .5);
}

.checkbox__input {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
}

.checkbox__label {
    font-size: 11px;
    line-height: 150%;
    color: rgba(43, 53, 65, .5);
    padding-left: 23px;
    padding-top: 2px;
    cursor: pointer;
}

.checkbox__label::before {
    content: "";
    display: block;
    width: 13px;
    height: 12px;
    border: 3px solid #2B3541;
    background-color: #F3F6F9;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: background .1s linear, border .1s linear;
}

.checkbox__label::after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;

    background: url(/img/icons/check_box.svg) no-repeat;
    background-size: 19px 19px;
    opacity: 0;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    transition: opacity .1s linear;
}

.checkbox__input:checked+.checkbox__label::before {
    background-color: #2B3541;
    border-color: #2B3541;
}

.checkbox__input:checked+.checkbox__label::after {
    opacity: 1;
}

.checkbox .data:hover {
    color: rgba(43, 53, 65);
}

.about {
    margin-top: 165px;
    margin-bottom: 150px;
}

.about-main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 44px;
}

.about-information {
    width: 483px;
}

.about-information .title-h2 {
    margin: 0 0 19px 0;
}

.about-description {
    line-height: 150%;
    margin-bottom: 34px;
    padding-left: 2px;
}

.about-image {
    width: 581px;
    height: 336px;
    overflow: hidden;
    position: relative;
}

.about-image img {
    width: 100%;
    height: 336px;
    position: absolute;
    left: -50%;
    top: -50%;
    transform: translate(50%, 50%);
    object-fit: cover;
}

.list-items {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 44px;
    padding: 0;
}

.list-item:nth-child(2) {
    padding-left: 2px;
}

.list-item:nth-child(3) {
    padding-left: 55px;
}

.list-item:last-child {
    padding-left: 46px;
}

.list-item__description {
    margin-top: 21px;
    line-height: 150%;
    color: rgba(43, 53, 65, .6);
}

footer {
    padding-left: 4px;
    padding-bottom: 21px;
}

.footer-nav {
    padding-top: 57px;
}

.nav-main {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 169px 1fr 290px;
    justify-content: space-between;
}

.nav-main__item .nav-info {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 462px;
}

.nav-info__item {
    font-size: 14px;
    line-height: 150%;
}

.nav-main__item:last-child {
    display: flex;
    justify-content: space-between;
}

.address {
    position: relative;
}

.address-circle {
    fill: #FBF138;
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 1;
    top: -18px;
    left: -30px;
}

.address .email {
    margin: 0;
    position: absolute;
    z-index: 2;
}

.address .nav-link {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #2B3541;
}

.nav-main__item .nav-social {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
    width: 84px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 150%;
    color: rgba(43, 53, 65, .3);
}

.footer-bottom .footer-link {
    color: rgba(43, 53, 65, .3);
}

.footer-bottom .footer-link:hover {
    color: rgb(43, 53, 65);
}