body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #2B3541;

}

.main-container {
    max-width: 1817px;
    margin: 0 auto;
    padding: 50px 50px 0 50px;
    background-color: #FEFCFE;
}

.wrapper {
    margin: 0 17.4%;
    padding: 0 15px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
}

nav {
    margin-top: -27px;
}

.nav {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    display: flex;
}

.nav-icon {
    fill: rgba(43, 53, 65, .8);
}

.nav-icon:hover {
    fill: rgba(43, 53, 65, 1);
    transform: scale(1.3);
}

.nav-social .nav-item {
    padding-left: 30px;
}

.nav-social .nav-item:first-child {
    padding-left: 0;
}

header .wrapper {
    margin: 0 auto 0 300px;
}

.nav .nav-info {
    line-height: 150%;
}

.nav-info .nav-item {
    padding-right: 55px;
    padding-bottom: 16px;
}

.nav-info .nav-link {
    text-decoration: none;
    color: #2B3541;
    transition: 0.3s;
}

.nav-info .nav-link:hover {
    color: #181F27;
    border-bottom: 1px solid #2B3541;
    padding-bottom: 16px;
}

.main {
    width: 87%;
    position: relative;
    margin-top: 14px;
    margin-bottom: 14%;
}

.main-info {
    position: absolute;
    top: 19%;
    left: -1%;

}

.title-h1 {
    font-weight: 700;
    font-size: 266%;
    line-height: 125%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 10.7%;
    margin-bottom: 1%;
}

.main-description {
    display: grid;
    grid-template: repeat(3, 30%)/16.6% 1fr;
}

.description-1 {
    grid-row: 1/2;
    grid-column: 1/2;
    font-size: 221%;
    line-height: 125%;
}

.description-2 {
    grid-row: 1/2;
    grid-column: 2/3;
    font-size: 221%;
    line-height: 125%;
}

.description-3 {
    grid-row: 2/3;
    grid-column: 2/3;
    font-size: 100%;
    line-height: 150%;
}

.description-4 {
    grid-row: 3/4;
    grid-column: 2/3;
    font-weight: 700;
    font-size: 90%;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 2%;
}

.description-4 .link {
    display: block;
    text-decoration: none;
    width: 47%;
    height: 35%;
    padding: 3.8% 0;
    margin: 0;
    background-color: #FBF138;
    color: #2B3541;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
    transition: 0.3s;
}

.description-4 .link:hover {
    color: #FBF138;
    background: #2B3541;
    box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.2);
}

.main-photo {
    width: 100%;
    margin-left: 32%;
}

.main-arrow {
    width: 100%;
    position: absolute;
    bottom: 0.3%;
    left: 8%;
}

.main-arrow svg {
    width: 52px;
    height: 55px;
}

.events {
    margin-bottom: 13.6%;
}

.title-h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
}

.events-list {
    display: flex;
    justify-content: space-between;
    margin-top: 39px;
}

.events-item {
    position: relative;
    max-width: 100%;
    width: 336px;
    height: 600px;
    margin-right: 21px;
}

.events-item:last-child {
    margin-right: 0;
}

.background {
    position: absolute;
    z-index: 1;
}

.gradient {
    position: relative;
}

.gradient::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 80%);
    opacity: 0.3;
}

.events-info {
    position: absolute;
    z-index: 2;
}


.time {
    font-weight: 700;
    line-height: 150%;
    opacity: 0.6;
    display: inline-block;
    margin-left: 30px;
    margin-top: 32px;
}

.title-h3 {
    font-weight: 700;
    font-size: 28px;
    line-height: 120%;
    margin-left: 30px;
    margin-top: 6px;
}

.events-name {
    width: 126px;
    height: 47px;
    background: #FBF138;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 4px;

}

.events-part {
    position: absolute;
    z-index: 2;
    width: 340px;
    height: 413px;
    padding-top: 185px;
    padding-left: 30px;
    opacity: 0;
    transition: 0.7s;
}

.events-part:hover {
    opacity: 1;
}

.events-part>p {
    margin: 0;
}

.events-part .link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 221px;
    height: 64px;
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background: #2B3541;
    color: #FBF138;
    box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.28);
}

.schedule {
    margin-bottom: 14%;
}

.schedule-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 38px;
}

.schedule-info .title-h2 {
    margin: 0;
}

.schedule-info .date {
    margin: 0;
    font-weight: 700;
    font-size: 28px;
    line-height: 125%;
    padding-top: 12px;
}

.schedule-table {
    display: grid;
    grid-template-columns: repeat(3, minmax(30%, 1fr));
    grid-auto-rows: minmax(280px, auto);
    gap: 20px;
}


.table-item {
    border: 1px solid #94989F;
    box-sizing: border-box;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow: auto;

}

.table-item:hover {
    background-color: rgba(243, 243, 243, .5);
    box-shadow: 0px 4px 30px rgba(43, 53, 65, 0.2);
}

.table-item:nth-child(1) {
    height: 250px;
}

.table-item:nth-child(2) {
    height: 402px;
}

.table-item:nth-child(3) {
    height: 309px;
}

.table-item:nth-child(4) {
    height: 433px;
    margin-top: -152px;
    background: linear-gradient(180deg, rgba(251, 241, 56, .7) 0%, rgba(253, 249, 182, 0.45) 100%);
    box-shadow: 0px 13px 30px rgba(186, 180, 69, 0.2);
    border: none;
}

.table-item:nth-child(4):hover {
    box-shadow: 0px 4px 30px rgba(43, 53, 65, 0.2);
}

.table-item:nth-child(4)>.table-date {
    font-weight: 700;
}

.table-item:nth-child(5) {
    height: 281px;
}

.table-item:nth-child(6) {
    height: 374px;
    margin-top: -93px;
}

.table-description {
    line-height: 150%;
    margin: 20px 0 0 0;
}

.table-description.hidden {
    display: none;
}

.table-date {
    margin: 0;
    text-align: end;
    line-height: 150%;
    color: #010101;
    opacity: 0.7;
}

.title-h4 {
    margin: 37px 0 0 0;
    font-weight: 700;
    line-height: 125%;
}

.grey {
    max-width: 1817px;
    margin: 0 auto;
    padding: 50px 50px 0 50px;
    background-color: #F3F3F3;

}

.section-form {
    margin-top: -47px;
    padding: 4% 22% 10% 22%;
    height: 185px;
}

.form {
    display: grid;
    grid-template: 1fr 1fr/61% 1fr;
}

.form-title {
    margin-bottom: 100px;
    grid-column: 1/3;
    grid-row: 1/2;
    position: relative;
    margin: 31px 0 0 10px;
}

.circle {
    fill: #FBF138;
    position: absolute;
    z-index: 1;
}

.circle.form-circle {
    width: 105px;
    height: 105px;
    top: -31px;
    left: -54px;
}

.form-title .title-h2 {
    margin: 1px 0 0 2px;
    z-index: 2;
    position: absolute;
}

.form-items {
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 3.5% 0 0 2%;
}

.form-item {
    margin-right: 20px;
}

.form-button {
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 5% 0 0 3%;
}

.form-item:last-child {
    margin-right: 0;
}

.form-item .form-email {
    width: 352px;
    ;
    height: 65px;
    line-height: 150%;
    border: none;
    background-color: #FFFFFF;
    padding-left: 19px;
}

.form-item .form-email:hover {
    background-color: #F3F3F3;
}

.form-item .form-email:focus,
.form-item .form-email:active,
.form-item .form-email:valid {
    outline: none;
    background-color: #FFFFFF;
}

.form-item .form-email.invalid {
    border: 1px solid #AE0303;
}

.button__yellow,
.button__yellow:visited,
.button__yellow:active {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 225px;
    height: 65px;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background-color: #FBF138;
    color: #2B3541;
    border: none;
    font-weight: 700;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
    transition: 0.3s;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: visible;
}

.button__yellow,
.button__yellow:link,
.button__yellow:visited,
.button__yellow:hover,
.button__yellow:active {
    text-decoration: none
}

.button__yellow:focus,
.button__yellow:hover {
    outline: none;
    color: #FBF138;
    background: #2B3541;
    box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.2);
    font-weight: 700;
}

:-ms-input-placeholder {
    color: rgba(43, 53, 65, .5);
}

::-moz-placeholder {
    color: rgba(43, 53, 65, .5);
    opacity: 1;
}

:-moz-placeholder {
    color: rgba(43, 53, 65, .5);
    opacity: 1;
}

.checkbox {
    display: flex;
    justify-content: start;
    margin-top: 10px;
    position: relative;
}

.checkbox .data {
    color: rgba(43, 53, 65, .5);
}

.checkbox__input {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
}

.checkbox__label {
    font-size: 11px;
    line-height: 150%;
    color: rgba(43, 53, 65, .5);
    padding-left: 23px;
    padding-top: 2px;
    cursor: pointer;
}

.checkbox__label::before {
    content: "";
    display: block;
    width: 13px;
    height: 12px;
    border: 3px solid #2B3541;
    background-color: #F3F6F9;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: background .1s linear, border .1s linear;
}

.checkbox__label::after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;

    background: url(/img/icons/check_box.svg) no-repeat;
    background-size: 19px 19px;
    opacity: 0;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    transition: opacity .1s linear;
}

.checkbox__input:checked+.checkbox__label::before {
    background-color: #2B3541;
    border-color: #2B3541;
}

.checkbox__input:checked+.checkbox__label::after {
    opacity: 1;
}

.checkbox .data:hover {
    color: rgba(43, 53, 65);
}

.about {
    margin-top: 9.6%;
    margin-bottom: 13%;
}

.about-main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 44px;
}

.about-information {
    width: 483px;
    margin-right: 66px;
}

.about-information .title-h2 {
    margin: 0 0 19px 0;
}

/* popup*/
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    top: 0;
    left: 0;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
}
.popup.open {
    opacity: 1;
    visibility: visible;
}
.popup.open .popup__content {
transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
opacity: 1;
}
.popup_body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}
.popup_content {
    background-color:#F3F3F3;
    max-width: 600px;
    height: 577px;
    padding: 60px 50px 80px;
    position: relative;
}
.popup_close {
    position: absolute;
    right: 30px;
    top: 30px;
    background-image: url(/img/icons/close.svg);
    height: 20px;
    width: 20px;

}
/* popup*/
.about-description {
    line-height: 150%;
    margin-bottom: 34px;
    padding-left: 2px;
}

.about-image {
    width: 581px;
    height: 336px;
    overflow: hidden;
    position: relative;
}

.about-image img {
    width: 100%;
    height: 336px;
    position: absolute;
    left: -50%;
    top: -50%;
    transform: translate(50%, 50%);
    object-fit: cover;
}

.list-items {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(22%, 1fr));
    gap: 44px;
    padding: 0;
}

.list-item:nth-child(2) {
    padding-left: 2px;
}

.list-item:nth-child(3) {
    padding-left: 55px;
}

.list-item:last-child {
    padding-left: 46px;
}

.list-item__description {
    margin-top: 21px;
    line-height: 150%;
    color: rgba(43, 53, 65, .6);
}

footer {
    padding-left: 4px;
    padding-bottom: 21px;
}

.footer-nav {
    margin-top: 9px;
}

.nav-main {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 14.8% 1fr 25.7%;
    justify-content: space-between;
}

.nav-main__item .nav-info {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
}

.nav-info__item {
    font-size: 14px;
    line-height: 150%;
    margin-right: 13%;
}

.nav-main__item:last-child {
    display: flex;
    justify-content: space-between;
}

.address {
    position: relative;
}

.address-circle {
    fill: #FBF138;
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 1;
    top: -18px;
    left: -30px;
}

.address .email {
    margin: 0;
    position: absolute;
    z-index: 2;
}

.address .nav-link {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #2B3541;
}

.nav-main__item .nav-social {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
    width: 84px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 150%;
    color: rgba(43, 53, 65, .3);
}

.footer-bottom .footer-link {
    color: rgba(43, 53, 65, .3);
}

.footer-bottom .footer-link:hover {
    color: rgb(43, 53, 65);
}

@media (max-width:1893px) {

    .list-item:last-child {
        padding: 0;
    }
}

@media (max-width:1786px) {
    .events-item {
        width: 268px;
        height: 480px;
    }

    .gradient>img {
        width: 100%;
    }

    .events-info .title-h3 {
        font-size: 20px;
    }

    .events-part .link {
        width: 177px;
        height: 51px;
        font-size: 14px;
    }
}

@media (max-width:1537px) {
    .title-h1 {
        font-size: 210%;
    }

    .nav-main__item .nav-social {
        width: 62px;
    }
}

@media (max-width:1446px) {
    .list-item:nth-child(3) {
        padding: 0;
    }

    .nav-info__item {
        font-size: 12px;
    }

    .address .nav-link {

        font-size: 14px;
    }

    .footer-bottom {
        font-size: 12px;
    }
}

@media (max-width:1326px) {
    .title-h1 {
        font-size: 160%;
    }

    .description-1 {
        font-size: 160%;
    }

    .description-2 {
        font-size: 160%;
    }

    .description-3 {
        font-size: 80%;
    }

    .description-4 {
        font-size: 60%;
    }

    .title-h2 {
        font-size: 133%;
    }

    .events {
        margin: 0;
    }

    .events-info .title-h3 {
        font-size: 15px;
    }

    .time {
        font-size: 12px;
    }

    .events-name {
        font-size: 14px;
    }

    .schedule-info .date {
        font-size: 133%;
    }

    .schedule-table {
        font-size: 12px;
    }

    .about-description {
        font-size: 12px;
    }

    .form-item .form-email {
        width: 329px;
    }

    .form-items {
        margin: 0 0 0 2%;
    }

    .form-button {
        margin: 0 0 0 3%;
    }

    .about-list {
        font-size: 12px;
    }

    .nav-main {
        grid-template: 1fr 1fr/ 65% 1fr;
    }

    .nav-main__item:first-child {
        grid-column: 1/3;
        grid-row: 1/2;
        text-align: center;
        margin-bottom: 3%;
    }

    .nav-main__item:nth-child(2) {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .nav-main__item:last-child {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .nav-info__item:last-child {
        margin-right: 4%;
    }
}

@media (max-width: 1227px) {
    header .wrapper {
        margin: 0 auto 0 200px;
    }

    .nav.nav-info {
        font-size: 12px;
    }

    .events {
        margin: 0;
        height: 450px;
    }

    .main-arrow svg {
        width: 40px;
        height: 42px;
    }

    .title-h1 {
        font-size: 140%;
    }

    .description-1 {
        font-size: 140%;
    }

    .description-2 {
        font-size: 140%;
    }

    .description-3 {
        font-size: 60%;
    }

    .description-4 {
        font-size: 40%;
    }

    .title-h2 {
        font-size: 113%;
    }

    .nav-info__item {
        font-size: 10px;
    }

    .address .nav-link {

        font-size: 12px;
    }

    .footer-bottom {
        font-size: 10px;
    }

}

@media (min-width: 901px) {
    .header-mobile {
        display: none;
    }
}

@media (max-width: 900px) {

    .grey {
        padding: 50px 0 0 50px;
    }

    .header {
        display: none;
    }

    .header-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 40px;
    }

    .menu {
        background: transparent;
        border: none;
    }

    .main-photo {
        width: 100%;
        margin-left: 19%;
    }

    .wrapper {
        margin: 0;
    }
}

@media (min-width: 602px) {
    .mobile-item {
        display: none;
    }
}

@media (max-width: 601px) {
    .main {
        width: 100%;
    }

    .main-info {
        position: unset;
    }

    element.style {
        text-align: start;
        font-size: 196%;
    }

    .main-description {
        grid-template: repeat(3, 30%)/1fr 1fr;
    }

    .description-1 {
        font-size: 221%;
    }

    .description-2 {
        margin-left: 90px;
        grid-column: 1/2;
        font-size: 221%;
    }

    .description-3 {
        grid-column: 1/2;
        font-size: 100%;
        line-height: 150%;
    }

    .description-4 {
        grid-column: 1/3;
        font-size: 100%;
    }

    .description-4 .link {
        width: 100%;
        height: 80%;
        padding: 6.8% 0 1.8%;
    }

    .main-photo {
        margin: 0;
    }

    .main-arrow {
        display: none;
    }

    .title-h2 {
        font-size: 40px;
    }

    .events-list {
        flex-wrap: wrap;
    }

    .events-item {
        width: 222px;
        height: 360px;
        margin: 0;
    }

    .events-item:last-child {
        margin-top: 20px;
        width: 100%;
    }

    .events-item:last-child>.background {
        width: 100%;
    }

    .events-part {
        height: 44%;
        width: 86%;
    }

    .schedule {
        margin-top: 186%;
    }

    .schedule-table {
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(280px, auto);
    }

    .table-item.about-01 {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .table-item.about-02 {
        grid-row: 4/5;
        grid-column: 1/2;
        height: 100%;
        margin-top: -196px;
    }

    .table-item.about-03 {
        grid-row: 5/6;
        grid-column: 1/2;
        height: 100%;
        margin-top: -196px;
    }

    .table-item.about-04 {
        grid-row: 2/4;
        grid-column: 1/2;
        margin-top: -27px;
        height: 70%;
    }

    .table-item.about-05 {
        grid-row: 6/7;
        grid-column: 1/2;
        height: 100%;
        margin-top: -196px;
    }

    .table-item.about-06 {
        grid-row: 7/8;
        grid-column: 1/2;
        height: 100%;
        margin-top: -196px;
    }

    .grey.subscription {
        padding: 50px 50px 0 50px;
    }

    .form {
        grid-template: 1fr 1fr / 1fr;
    }

    .section-form {
        padding: 0;
        height: 416px;
    }

    .form-title {
        width: 90%;
        text-align: center;
        margin-top: 57px;
    }

    .form-title .title-h2 {
        width: 100%;
    }

    .form-button {
        grid-column: 1/2;
        grid-row: 3/4;
        margin: 25px 0 0 2%;
    }

    .form-items {
        margin: 53px 0 0 2%;
    }

    .form-item .form-email {
        width: 100%;
    }

    .form-button .button__yellow {
        width: 100%;
    }

    .about-main {
        flex-direction: column;
    }

    .about-description {
        font-size: 18px;
    }

    .about-information {
        width: 100%;
    }

    .about-information .button__yellow {
        display: none;
    }

    .about-image {
        display: none;
    }

    .list-items {
        grid-template-columns: 1fr;
        font-size: 18px;
        gap: 0;
    }

    .mobile-item .button__yellow {
        width: 100%;
    }

    .mobile-item .about-image {
        height: 335px;
        width: 100%;
        display: block;
        margin-top: 50px;
    }

    .gradient>img {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .grey.footer__grey {
        padding: 50px 50px 0 50px;
    }

    .nav-main {

        display: flex;
        flex-direction: column;
    }

    .nav-main__item .nav-info {
        justify-content: space-between;
        margin-top: 20px;
    }

    .nav-info__item:last-child {
        margin-right: 0;
    }

    .nav-info__item {
        font-size: 12px;
        margin-right: 0;
    }

    .nav-main__item:last-child {
        margin-top: 20px;
    }

    .address .nav-link {

        font-size: 14px;
    }

    .footer-nav .nav-icon {
        fill: rgba(43, 53, 65);
    }

    .footer-bottom {
        flex-direction: column;
        text-align: center;
    }
}